html, body{
	font-size:16px;
	color: #000000;
	background-color: #000000; 
}

a {
  color: #F7C419;
  font-weight: bold;
}

a:hover {
  color: white;
}

section{
	padding-top: 3rem;
	padding-bottom: 3rem;
}

.section-1 {
	background: #ffffff;
}

.section-2 {
	background: #000000;
}

.section-3 {
	background-color: #ffffff;
}

.section-4 {
	background-color: #F7C419;
	padding: 1em;
}

a.nav-item {
	color: #dfdfdf;
}

a.nav-item:hover {
	color: #fff;
}

.avatar{
	height:200px;
	border-radius: 50%;
}

.intro-description{
	padding-top: 1rem;
}

.social-container img{
	max-width:100%;
	max-height:175px;
	margin-bottom:15px;
}

.project-figure {
	margin: 0 auto 1rem auto;
	max-height: 256px;
	max-width: 256px;
}

.project-text {
	text-align: justify;
	font-size: small;
}

.box {
	background-color: #ffffff;
	border: 4px solid #F7C419;
}

.title {
	color: #ffffff;
	text-align: left;
	margin-bottom: 2rem;
}

.intro {
	text-align: justify;
	width: 80%;
	margin: 0 auto;
}

.void-background {
	background-color: transparent; 
}

@media screen and (max-width: 768px) {
	.nav-menu {
		background-color: #063647;
	}

	.nav-toggle:hover {
		background-color: transparent;
	}

	.nav-toggle span {
		background-color: #dfdfdf;
	}

	.nav-toggle span:hover {
		background-color: #fff;
	}

}
